<!DOCTYPE html>
<html>
<head>
  <title>Concerts</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<form action="/concerts/update/<%= concertId %>" method="post" name="form1">
<div class="form-group">
  <label for="exampleInputPassword1">ID</label>
  <input type="number" class="form-control" name="concertId" id="concertId" value="<%= concertId %>" placeholder="concertId">
</div>
<div class="form-group">
  <label for="exampleInputPassword1">Name</label>
  <input type="text" class="form-control" name="concertName" id="concertName" value="<%= concertName %>" placeholder="Name">
</div>
<div class="form-group">
  <label for="exampleInputPassword1">Location</label>
  <input type="text" class="form-control" name="concertLocation" id="concertLocation" value="<%= concertLocation %>" placeholder="concertLocation">
</div>
<div class="form-group">
  <label for="exampleInputYear1">Year</label>
  <input type="number" class="form-control" name="concertYear" id="concertYear" placeholder="concertYear" value="<%= concertYear %>">
</div>
<button type="submit" class="btn btn-info">Update</button>
</form>
</body>
</html>
