<!DOCTYPE html>
<html>
<head>
  <title>Concerts</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div>
    <a href="/" class="btn btn-primary ml-3">Home</a>
    <a href="/concerts/add" class="btn btn-secondary ml-3">New Concert</a>
    <a href="/concerts" class="btn btn-info ml-3">Concert List</a>
</div>
<!--   <% if (messages.error) { %>
  <p style="color:red"><%- messages.error %></p>
<% } %> -->

<% if (messages.success) { %>
    <p class="alert alert-success mt-4"><%- messages.success %></p>
<% } %>
<br>
  <table class="table">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Concert</th>
    <th scope="col">Venue</th>
      <th scope="col">Year</th>
    <th width="200px">Action</th>

  </tr>
</thead>
<tbody>
  <% if(data.length){

  for(var i = 0; i< data.length; i++) {%>
  <tr>
    <td><%= data[i].concertId%></td>
    <td><%= data[i].concertName%></td>
    <td><%= data[i].concertLocation %></td>
    <td><%= data[i].concertYear %></td>
    <td>
    <a class="btn btn-success edit" href="../concerts/edit/<%=data[i].concertId%>">Edit</a>
    <a class="btn btn-danger delete" onclick="return alert('Are You sure?')" href="../concerts/delete/<%=data[i].concertId%>">Delete</a>
   </td>
  </tr>
  <% }

   }else{ %>
       <tr>
          <td colspan="3">No user</td>
       </tr>
    <% } %>

</tbody>
</table>
</body>
</html>
